<?xml version="1.0"?>
<Desktop>
  <Settings>
      <Name>Sound.mp3</Name>
      <Sound>Sound.mp3</Sound>
      <Video>Video.mp4</Video>
      <Whomakethis>CodeFoxy</Whomakethis>
      <original>
           <platform>twitter</platform>
           <Whomakethis>鈴木 健太</Whomakethis>
           <Name>Suzuki Kenta</Name>
           <link>https://twitter.com/i/status/1370702788624142336</link>
      </original>
   </Settings>
</Desktop>
